git lfs track "*.wav"
*.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/01_piano-act1-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/02_piano-act1-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/03_phonecall-act1-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/04_wierdroboticvoice-act1-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/05_phonecall-act1-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/06_phonecall-act1-1.3_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/07_cello-act2-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/08_piano-act2-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/09_piano-act2-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/10_glitch-act3-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/11_glitch-act3-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/12_wierdrobotvoice-act3-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/13_grains-act4-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/14_piano-act4-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/15_cellobass-act4-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/16_phonecall-act4-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/17_phonecall-act4-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/18_piano-act4-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/19_piano-act4-1.3_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/20_grains-act5-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/21_piano-stretch-act5-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/22_piano-stretch-act5-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/23_piano-reverse-act5-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/24_bubbles-act6-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/25_grains-act6-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/26_bubbles-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/27_rhytmicgrains-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/28_rhytmicgrains-act7-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/29_grainbeat-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/30_base-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/31_synthesizer-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/32_deathwhistles-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/33_vocals-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/34_dronebass-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/35_droneswell-act7-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/36_rhytmicgrains-act8-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/37_rhytmicgrains-act8-1.2_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/38_base-act8-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/39_truextrawobblah-act8-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/40_arpeggio-act8-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/41_glitchwobbler-act8-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/dom/stems/42_deathwhistles-act8-1.1_1.wav filter=lfs diff=lfs merge=lfs -text
/Max/Samples/soundbank-digital-signals/cluster_reverse_reverb.wav filter=lfs diff=lfs merge=lfs -text
